-- achieved top 10 spot in size rankings

local unlisted = 20

return {
	["Sardine"] = unlisted,
	["Black Rockfish"] = unlisted,
	["Largescale Blackfish"] = unlisted,
	["Dace"] = unlisted,
	["Pale Chub"] = unlisted,
	["Dark Chub"] = unlisted,
	["Bluegill"] = unlisted,
	["Crucian Carp"] = unlisted,
	["Crayfish"] = unlisted,
	["Japanese Whiting"] = unlisted,
	["Pacific Saury"] = unlisted,
	["Chicken Grunt"] = unlisted,
	["Blue Bat Star"] = unlisted,
	["Filefish"] = unlisted,
	["Barracuda"] = unlisted,
	["Tadpole"] = unlisted,
	["Spined Loach"] = unlisted,
	["Dark Sleeper"] = unlisted,
	["Mackerel"] = unlisted,
	["Pacific Herring"] = unlisted,
	["Japanese Horse Mackerel"] = unlisted,
	["Iwana Trout"] = unlisted,
	["Forktongue Goby"] = unlisted,
	["Lionfish"] = unlisted,
	["American Bullfrog"] = unlisted,
	["Black Rabbitfish"] = unlisted,
	["Spear Squid"] = unlisted,
	["Pennant Coralfish"] = unlisted,
	["Convict Tang"] = unlisted,
	["Yellow Perch"] = unlisted,
	["Indo-Pacific Sergeant"] = unlisted,
	["Butterflyfish"] = unlisted,
	["Piranha"] = unlisted,
	["Siamese Fighting Fish"] = unlisted,
	["Dwarf Gourami"] = unlisted,
	["Chinese Softshell Turtle"] = unlisted,
	["Blue Tang"] = unlisted,
	["Sweetfish"] = unlisted,
	["Red King Crab"] = unlisted,
	["Boxfish"] = unlisted,
	["Cherry Salmon"] = unlisted,
	["Porcupinefish"] = unlisted,
	["Snow Crab"] = unlisted,
	["Red Gurnard"] = unlisted,
	["Clown Loach"] = unlisted,
	["Clownfish"] = unlisted,
	["Little Dragonfish"] = unlisted,
	["Orange-Striped Emperor"] = unlisted,
	["Longnose Hawkfish"] = unlisted,
	["Koran Angelfish"] = unlisted,
	["Flying Fish"] = unlisted,
	["Elephantnose Fish"] = unlisted,
	["Angelfish"] = unlisted,
	["Giant Pikehead"] = unlisted,
	["Stickleback"] = unlisted,
	["Spiny Lobster"] = unlisted,
	["Seahorse"] = unlisted,
	["Pinecone Fish"] = unlisted,
	["Flapjack Octopus"] = unlisted,
	["Giant Isopod"] = unlisted,
	["Viperfish"] = unlisted,
	["Ocellate River Stingray"] = unlisted,
	["Japanese Sea Bass"] = unlisted,
	["Black Sea Bream"] = unlisted,
	["Rainbow Trout"] = unlisted,
	["Smallmouth Bass"] = unlisted,
	["Skipjack Tuna"] = unlisted,
	["Righteye Flounder"] = unlisted,
	["Common Carp"] = unlisted,
	["Largehead Hairtail"] = unlisted,
	["Japanese Spanish Mackerel"] = unlisted,
	["Catfish"] = unlisted,
	["Largemouth Bass"] = unlisted,
	["Okhotsk Atka Mackerel"] = unlisted,
	["Alaska Pollack"] = unlisted,
	["Flathead Mullet"] = unlisted,
	["Northern Barramundi"] = unlisted,
	["Yellowtail"] = unlisted,
	["Barred Knifejaw"] = unlisted,
	["Moray Eel"] = unlisted,
	["Chum Salmon"] = unlisted,
	["Tiger Pufferfish"] = unlisted,
	["Pike"] = unlisted,
	["Snakehead"] = unlisted,
	["Iridescent Shark"] = unlisted,
	["Flounder"] = unlisted,
	["Eel"] = unlisted,
	["Chinook Salmon"] = unlisted,
	["Lake Trout"] = unlisted,
	["Saddled Bichir"] = unlisted,
	["Pacific Cod"] = unlisted,
	["Japanese Bullhead Shark"] = unlisted,
	["Common Octopus"] = unlisted,
	["Alligator Snapping Turtle"] = unlisted,
	["Taimen"] = unlisted,
	["Garfish"] = unlisted,
	["Longtooth Grouper"] = unlisted,
	["Tarpon"] = unlisted,
	["Red Sea Bream"] = unlisted,
	["Japanese Spider Crab"] = unlisted,
	["Mahi-Mahi"] = unlisted,
	["Amberjack"] = unlisted,
	["Splendid Alfonsino"] = unlisted,
	["Sawshark"] = unlisted,
	["Arowana"] = unlisted,
	["Dorado"] = unlisted,
	["Nile Perch"] = unlisted,
	["Koi"] = unlisted,
	["Humphead Wrasse"] = unlisted,
	["Horseshoe Crab"] = unlisted,
	["Coelacanth"] = unlisted,
	["Stringfish"] = unlisted,
	["Footballfish"] = unlisted,
	["Frilled Shark"] = unlisted,
	["Gigantic Carp"] = unlisted,
	["Mediterranean Dealfish"] = unlisted,
	["Gulper Eel"] = unlisted,
	["Electric Eel"] = unlisted,
	["African Lungfish"] = unlisted,
	["Wels Catfish"] = unlisted,
	["North Pacific Giant Octopus"] = unlisted,
	["Scalloped Hammerhead"] = unlisted,
	["Alligator Gar"] = unlisted,
	["Bluefin Tuna"] = unlisted,
	["Great White Shark"] = unlisted,
	["Marlin"] = unlisted,
	["Tawny Nurse Shark"] = unlisted,
	["Sunfish"] = unlisted,
	["Manta Ray"] = unlisted,
	["Giant Freshwater Stingray"] = unlisted,
	["Whale Shark"] = unlisted,
	["Beluga"] = unlisted,
	["Arapaima"] = unlisted,
	["Spotted Eagle Ray"] = unlisted,
	["Leedsichthys"] = unlisted,
	["Rhizodus"] = unlisted,
	["Dunkleosteus"] = unlisted,
	["Nessie"] = unlisted,
	["Kronosaurus"] = unlisted,
	["Dragon"] = unlisted,
	["Leviathan"] = unlisted,
	["Kraken"] = unlisted,
	["UFO"] = unlisted,
	["Giant Squid"] = unlisted,
	["Giant Oarfish"] = unlisted,
	["Golden Bass"] = unlisted,
	["Golden Koi"] = unlisted,
	["Golden Bream"] = unlisted,
	["Golden Rainbow Trout"] = unlisted,
	["Golden Salmon"] = unlisted,
	["Golden Tuna"] = unlisted,
	["Golden Marlin"] = unlisted,
	["Golden Shark"] = unlisted,
	["Cheep Cheep"] = unlisted,
	["Blooper"] = unlisted,
	["Old Boot"] = unlisted,
	["Tin Can"] = unlisted,
	["Log"] = unlisted,
	["Seaweed"] = unlisted,
	["Jellyfish"] = unlisted,
}