-- achieved biggest catch rankings

local rankings = require("rankings")

return {
	["Sardine"] = rankings.none,
	["Black Rockfish"] = rankings.none,
	["Largescale Blackfish"] = rankings.none,
	["Dace"] = rankings.none,
	["Pale Chub"] = rankings.none,
	["Dark Chub"] = rankings.none,
	["Bluegill"] = rankings.none,
	["Crucian Carp"] = rankings.none,
	["Crayfish"] = rankings.none,
	["Japanese Whiting"] = rankings.none,
	["Pacific Saury"] = rankings.none,
	["Chicken Grunt"] = rankings.none,
	["Blue Bat Star"] = rankings.none,
	["Filefish"] = rankings.none,
	["Barracuda"] = rankings.none,
	["Tadpole"] = rankings.none,
	["Spined Loach"] = rankings.none,
	["Dark Sleeper"] = rankings.none,
	["Mackerel"] = rankings.none,
	["Pacific Herring"] = rankings.none,
	["Japanese Horse Mackerel"] = rankings.none,
	["Iwana Trout"] = rankings.none,
	["Forktongue Goby"] = rankings.none,
	["Lionfish"] = rankings.none,
	["American Bullfrog"] = rankings.none,
	["Black Rabbitfish"] = rankings.none,
	["Spear Squid"] = rankings.none,
	["Pennant Coralfish"] = rankings.none,
	["Convict Tang"] = rankings.none,
	["Yellow Perch"] = rankings.none,
	["Indo-Pacific Sergeant"] = rankings.none,
	["Butterflyfish"] = rankings.none,
	["Piranha"] = rankings.none,
	["Siamese Fighting Fish"] = rankings.none,
	["Dwarf Gourami"] = rankings.none,
	["Chinese Softshell Turtle"] = rankings.none,
	["Blue Tang"] = rankings.none,
	["Sweetfish"] = rankings.none,
	["Red King Crab"] = rankings.none,
	["Boxfish"] = rankings.none,
	["Cherry Salmon"] = rankings.none,
	["Porcupinefish"] = rankings.none,
	["Snow Crab"] = rankings.none,
	["Red Gurnard"] = rankings.none,
	["Clown Loach"] = rankings.none,
	["Clownfish"] = rankings.none,
	["Little Dragonfish"] = rankings.none,
	["Orange-Striped Emperor"] = rankings.none,
	["Longnose Hawkfish"] = rankings.none,
	["Koran Angelfish"] = rankings.none,
	["Flying Fish"] = rankings.none,
	["Elephantnose Fish"] = rankings.none,
	["Angelfish"] = rankings.none,
	["Giant Pikehead"] = rankings.none,
	["Stickleback"] = rankings.none,
	["Spiny Lobster"] = rankings.none,
	["Seahorse"] = rankings.none,
	["Pinecone Fish"] = rankings.none,
	["Flapjack Octopus"] = rankings.none,
	["Giant Isopod"] = rankings.none,
	["Viperfish"] = rankings.none,
	["Ocellate River Stingray"] = rankings.none,
	["Japanese Sea Bass"] = rankings.none,
	["Black Sea Bream"] = rankings.none,
	["Rainbow Trout"] = rankings.none,
	["Smallmouth Bass"] = rankings.none,
	["Skipjack Tuna"] = rankings.none,
	["Righteye Flounder"] = rankings.none,
	["Common Carp"] = rankings.none,
	["Largehead Hairtail"] = rankings.none,
	["Japanese Spanish Mackerel"] = rankings.none,
	["Catfish"] = rankings.none,
	["Largemouth Bass"] = rankings.none,
	["Okhotsk Atka Mackerel"] = rankings.none,
	["Alaska Pollack"] = rankings.none,
	["Flathead Mullet"] = rankings.none,
	["Northern Barramundi"] = rankings.none,
	["Yellowtail"] = rankings.none,
	["Barred Knifejaw"] = rankings.none,
	["Moray Eel"] = rankings.none,
	["Chum Salmon"] = rankings.none,
	["Tiger Pufferfish"] = rankings.none,
	["Pike"] = rankings.none,
	["Snakehead"] = rankings.none,
	["Iridescent Shark"] = rankings.none,
	["Flounder"] = rankings.none,
	["Eel"] = rankings.none,
	["Chinook Salmon"] = rankings.none,
	["Lake Trout"] = rankings.none,
	["Saddled Bichir"] = rankings.none,
	["Pacific Cod"] = rankings.none,
	["Japanese Bullhead Shark"] = rankings.none,
	["Common Octopus"] = rankings.none,
	["Alligator Snapping Turtle"] = rankings.none,
	["Taimen"] = rankings.none,
	["Garfish"] = rankings.none,
	["Longtooth Grouper"] = rankings.none,
	["Tarpon"] = rankings.none,
	["Red Sea Bream"] = rankings.none,
	["Japanese Spider Crab"] = rankings.none,
	["Mahi-Mahi"] = rankings.none,
	["Amberjack"] = rankings.none,
	["Splendid Alfonsino"] = rankings.none,
	["Sawshark"] = rankings.none,
	["Arowana"] = rankings.none,
	["Dorado"] = rankings.none,
	["Nile Perch"] = rankings.none,
	["Koi"] = rankings.none,
	["Humphead Wrasse"] = rankings.none,
	["Horseshoe Crab"] = rankings.none,
	["Coelacanth"] = rankings.none,
	["Stringfish"] = rankings.none,
	["Footballfish"] = rankings.none,
	["Frilled Shark"] = rankings.none,
	["Gigantic Carp"] = rankings.none,
	["Mediterranean Dealfish"] = rankings.none,
	["Gulper Eel"] = rankings.none,
	["Electric Eel"] = rankings.none,
	["African Lungfish"] = rankings.none,
	["Wels Catfish"] = rankings.none,
	["North Pacific Giant Octopus"] = rankings.none,
	["Scalloped Hammerhead"] = rankings.none,
	["Alligator Gar"] = rankings.none,
	["Bluefin Tuna"] = rankings.none,
	["Great White Shark"] = rankings.none,
	["Marlin"] = rankings.none,
	["Tawny Nurse Shark"] = rankings.none,
	["Sunfish"] = rankings.none,
	["Manta Ray"] = rankings.none,
	["Giant Freshwater Stingray"] = rankings.none,
	["Whale Shark"] = rankings.none,
	["Beluga"] = rankings.none,
	["Arapaima"] = rankings.none,
	["Spotted Eagle Ray"] = rankings.none,
	["Leedsichthys"] = rankings.none,
	["Rhizodus"] = rankings.none,
	["Dunkleosteus"] = rankings.none,
	["Nessie"] = rankings.none,
	["Kronosaurus"] = rankings.none,
	["Dragon"] = rankings.none,
	["Leviathan"] = rankings.none,
	["Kraken"] = rankings.none,
	["UFO"] = rankings.none,
	["Giant Squid"] = rankings.none,
	["Giant Oarfish"] = rankings.none,
	["Golden Bass"] = rankings.none,
	["Golden Koi"] = rankings.none,
	["Golden Bream"] = rankings.none,
	["Golden Rainbow Trout"] = rankings.none,
	["Golden Salmon"] = rankings.none,
	["Golden Tuna"] = rankings.none,
	["Golden Marlin"] = rankings.none,
	["Golden Shark"] = rankings.none,
	["Cheep Cheep"] = rankings.none,
	["Blooper"] = rankings.none,
	["Old Boot"] = rankings.none,
	["Tin Can"] = rankings.none,
	["Log"] = rankings.none,
	["Seaweed"] = rankings.none,
	["Jellyfish"] = rankings.none,
}