-- achieved biggest catch rankings

local rankings = require("rankings")

return {
	["sardine"] = rankings.none,
	["black rockfish"] = rankings.none,
	["largescale blackfish"] = rankings.none,
	["dace"] = rankings.none,
	["pale chub"] = rankings.none,
	["dark chub"] = rankings.none,
	["bluegill"] = rankings.none,
	["crucian carp"] = rankings.none,
	["crayfish"] = rankings.none,
	["Japanese whiting"] = rankings.none,
	["Pacific saury"] = rankings.none,
	["chicken grunt"] = rankings.none,
	["blue bat star"] = rankings.none,
	["filefish"] = rankings.none,
	["barracuda"] = rankings.none,
	["tadpole"] = rankings.none,
	["spined loach"] = rankings.none,
	["dark sleeper"] = rankings.none,
	["mackerel"] = rankings.none,
	["Pacific herring"] = rankings.none,
	["Japanese horse mackerel"] = rankings.none,
	["iwana trout"] = rankings.none,
	["forktongue goby"] = rankings.none,
	["lionfish"] = rankings.none,
	["American bullfrog"] = rankings.none,
	["black rabbitfish"] = rankings.none,
	["spear squid"] = rankings.none,
	["pennant coralfish"] = rankings.none,
	["convict tang"] = rankings.none,
	["yellow perch"] = rankings.none,
	["Indo-Pacific sergeant"] = rankings.none,
	["butterflyfish"] = rankings.none,
	["piranha"] = rankings.none,
	["Siamese fighting fish"] = rankings.none,
	["dwarf gourami"] = rankings.none,
	["Chinese softshell turtle"] = rankings.none,
	["blue tang"] = rankings.none,
	["sweetfish"] = rankings.none,
	["red king crab"] = rankings.none,
	["boxfish"] = rankings.none,
	["cherry salmon"] = rankings.none,
	["porcupinefish"] = rankings.none,
	["snow crab"] = rankings.none,
	["red gurnard"] = rankings.none,
	["clown loach"] = rankings.none,
	["clownfish"] = rankings.none,
	["little dragonfish"] = rankings.none,
	["orange-striped emperor"] = rankings.none,
	["longnose hawkfish"] = rankings.none,
	["Koran angelfish"] = rankings.none,
	["flying fish"] = rankings.none,
	["elephantnose fish"] = rankings.none,
	["angelfish"] = rankings.none,
	["giant pikehead"] = rankings.none,
	["stickleback"] = rankings.none,
	["spiny lobster"] = rankings.none,
	["seahorse"] = rankings.none,
	["pinecone fish"] = rankings.none,
	["flapjack octopus"] = rankings.none,
	["giant isopod"] = rankings.none,
	["viperfish"] = rankings.none,
	["ocellate river stingray"] = rankings.none,
	["Japanese sea bass"] = rankings.none,
	["black sea bream"] = rankings.none,
	["rainbow trout"] = rankings.none,
	["smallmouth bass"] = rankings.none,
	["skipjack tuna"] = rankings.none,
	["righteye flounder"] = rankings.none,
	["common carp"] = rankings.none,
	["largehead hairtail"] = rankings.none,
	["Japanese Spanish mackerel"] = rankings.none,
	["catfish"] = rankings.none,
	["largemouth bass"] = rankings.none,
	["Okhotsk Atka mackerel"] = rankings.none,
	["Alaska pollock"] = rankings.none,
	["flathead mullet"] = rankings.none,
	["northern barramundi"] = rankings.none,
	["yellowtail"] = rankings.none,
	["barred knifejaw"] = rankings.none,
	["moray eel"] = rankings.none,
	["chum salmon"] = rankings.none,
	["tiger pufferfish"] = rankings.none,
	["pike"] = rankings.none,
	["snakehead"] = rankings.none,
	["iridescent shark"] = rankings.none,
	["flounder"] = rankings.none,
	["eel"] = rankings.none,
	["chinook salmon"] = rankings.none,
	["lake trout"] = rankings.none,
	["saddled bichir"] = rankings.none,
	["Pacific cod"] = rankings.none,
	["Japanese bullhead shark"] = rankings.none,
	["common octopus"] = rankings.none,
	["alligator snapping turtle"] = rankings.none,
	["taimen"] = rankings.none,
	["garfish"] = rankings.none,
	["longtooth grouper"] = rankings.none,
	["tarpon"] = rankings.none,
	["red sea bream"] = rankings.none,
	["Japanese spider crab"] = rankings.none,
	["mahi-mahi"] = rankings.none,
	["amberjack"] = rankings.none,
	["splendid alfonsino"] = rankings.none,
	["sawshark"] = rankings.none,
	["arowana"] = rankings.none,
	["dorado"] = rankings.none,
	["Nile perch"] = rankings.none,
	["koi"] = rankings.none,
	["humphead wrasse"] = rankings.none,
	["horseshoe crab"] = rankings.none,
	["coelacanth"] = rankings.none,
	["stringfish"] = rankings.none,
	["footballfish"] = rankings.none,
	["frilled shark"] = rankings.none,
	["gigantic carp"] = rankings.none,
	["Mediterranean dealfish"] = rankings.none,
	["gulper eel"] = rankings.none,
	["electric eel"] = rankings.none,
	["African lungfish"] = rankings.none,
	["wels catfish"] = rankings.none,
	["North Pacific giant octopus"] = rankings.none,
	["scalloped hammerhead"] = rankings.none,
	["alligator gar"] = rankings.none,
	["bluefin tuna"] = rankings.none,
	["great white shark"] = rankings.none,
	["marlin"] = rankings.none,
	["tawny nurse shark"] = rankings.none,
	["sunfish"] = rankings.none,
	["manta ray"] = rankings.none,
	["giant freshwater stingray"] = rankings.none,
	["whale shark"] = rankings.none,
	["beluga"] = rankings.none,
	["arapaima"] = rankings.none,
	["spotted eagle ray"] = rankings.none,
	["Leedsichthys"] = rankings.none,
	["Rhizodus"] = rankings.none,
	["Dunkleosteus"] = rankings.none,
	["Nessie"] = rankings.none,
	["Kronosaurus"] = rankings.none,
	["Dragon"] = rankings.none,
	["Leviathan"] = rankings.none,
	["Kraken"] = rankings.none,
	["UFO"] = rankings.none,
	["giant squid"] = rankings.none,
	["giant oarfish"] = rankings.none,
	["golden bass"] = rankings.none,
	["golden koi"] = rankings.none,
	["golden bream"] = rankings.none,
	["golden rainbow trout"] = rankings.none,
	["golden salmon"] = rankings.none,
	["golden tuna"] = rankings.none,
	["golden marlin"] = rankings.none,
	["golden shark"] = rankings.none,
	["Cheep Cheep"] = rankings.none,
	["Blooper"] = rankings.none,
	["old boot"] = rankings.none,
	["tin can"] = rankings.none,
	["log"] = rankings.none,
	["seaweed"] = rankings.none,
	["jellyfish"] = rankings.none,
}