-- achieved top 10 spot in size rankings

local unlisted = 20

return {
	["sardine"] = unlisted,
	["black rockfish"] = unlisted,
	["largescale blackfish"] = unlisted,
	["dace"] = unlisted,
	["pale chub"] = unlisted,
	["dark chub"] = unlisted,
	["bluegill"] = unlisted,
	["crucian carp"] = unlisted,
	["crayfish"] = unlisted,
	["Japanese whiting"] = unlisted,
	["Pacific saury"] = unlisted,
	["chicken grunt"] = unlisted,
	["blue bat star"] = unlisted,
	["filefish"] = unlisted,
	["barracuda"] = unlisted,
	["tadpole"] = unlisted,
	["spined loach"] = unlisted,
	["dark sleeper"] = unlisted,
	["mackerel"] = unlisted,
	["Pacific herring"] = unlisted,
	["Japanese horse mackerel"] = unlisted,
	["iwana trout"] = unlisted,
	["forktongue goby"] = unlisted,
	["lionfish"] = unlisted,
	["American bullfrog"] = unlisted,
	["black rabbitfish"] = unlisted,
	["spear squid"] = unlisted,
	["pennant coralfish"] = unlisted,
	["convict tang"] = unlisted,
	["yellow perch"] = unlisted,
	["Indo-Pacific sergeant"] = unlisted,
	["butterflyfish"] = unlisted,
	["piranha"] = unlisted,
	["Siamese fighting fish"] = unlisted,
	["dwarf gourami"] = unlisted,
	["Chinese softshell turtle"] = unlisted,
	["blue tang"] = unlisted,
	["sweetfish"] = unlisted,
	["red king crab"] = unlisted,
	["boxfish"] = unlisted,
	["cherry salmon"] = unlisted,
	["porcupinefish"] = unlisted,
	["snow crab"] = unlisted,
	["red gurnard"] = unlisted,
	["clown loach"] = unlisted,
	["clownfish"] = unlisted,
	["little dragonfish"] = unlisted,
	["orange-striped emperor"] = unlisted,
	["longnose hawkfish"] = unlisted,
	["Koran angelfish"] = unlisted,
	["flying fish"] = unlisted,
	["elephantnose fish"] = unlisted,
	["angelfish"] = unlisted,
	["giant pikehead"] = unlisted,
	["stickleback"] = unlisted,
	["spiny lobster"] = unlisted,
	["seahorse"] = unlisted,
	["pinecone fish"] = unlisted,
	["flapjack octopus"] = unlisted,
	["giant isopod"] = unlisted,
	["viperfish"] = unlisted,
	["ocellate river stingray"] = unlisted,
	["Japanese sea bass"] = unlisted,
	["black sea bream"] = unlisted,
	["rainbow trout"] = unlisted,
	["smallmouth bass"] = unlisted,
	["skipjack tuna"] = unlisted,
	["righteye flounder"] = unlisted,
	["common carp"] = unlisted,
	["largehead hairtail"] = unlisted,
	["Japanese Spanish mackerel"] = unlisted,
	["catfish"] = unlisted,
	["largemouth bass"] = unlisted,
	["Okhotsk Atka mackerel"] = unlisted,
	["Alaska pollock"] = unlisted,
	["flathead mullet"] = unlisted,
	["northern barramundi"] = unlisted,
	["yellowtail"] = unlisted,
	["barred knifejaw"] = unlisted,
	["moray eel"] = unlisted,
	["chum salmon"] = unlisted,
	["tiger pufferfish"] = unlisted,
	["pike"] = unlisted,
	["snakehead"] = unlisted,
	["iridescent shark"] = unlisted,
	["flounder"] = unlisted,
	["eel"] = unlisted,
	["chinook salmon"] = unlisted,
	["lake trout"] = unlisted,
	["saddled bichir"] = unlisted,
	["Pacific cod"] = unlisted,
	["Japanese bullhead shark"] = unlisted,
	["common octopus"] = unlisted,
	["alligator snapping turtle"] = unlisted,
	["taimen"] = unlisted,
	["garfish"] = unlisted,
	["longtooth grouper"] = unlisted,
	["tarpon"] = unlisted,
	["red sea bream"] = unlisted,
	["Japanese spider crab"] = unlisted,
	["mahi-mahi"] = unlisted,
	["amberjack"] = unlisted,
	["splendid alfonsino"] = unlisted,
	["sawshark"] = unlisted,
	["arowana"] = unlisted,
	["dorado"] = unlisted,
	["Nile perch"] = unlisted,
	["koi"] = unlisted,
	["humphead wrasse"] = unlisted,
	["horseshoe crab"] = unlisted,
	["coelacanth"] = unlisted,
	["stringfish"] = unlisted,
	["footballfish"] = unlisted,
	["frilled shark"] = unlisted,
	["gigantic carp"] = unlisted,
	["Mediterranean dealfish"] = unlisted,
	["gulper eel"] = unlisted,
	["electric eel"] = unlisted,
	["African lungfish"] = unlisted,
	["wels catfish"] = unlisted,
	["North Pacific giant octopus"] = unlisted,
	["scalloped hammerhead"] = unlisted,
	["alligator gar"] = unlisted,
	["bluefin tuna"] = unlisted,
	["great white shark"] = unlisted,
	["marlin"] = unlisted,
	["tawny nurse shark"] = unlisted,
	["sunfish"] = unlisted,
	["manta ray"] = unlisted,
	["giant freshwater stingray"] = unlisted,
	["whale shark"] = unlisted,
	["beluga"] = unlisted,
	["arapaima"] = unlisted,
	["spotted eagle ray"] = unlisted,
	["Leedsichthys"] = unlisted,
	["Rhizodus"] = unlisted,
	["Dunkleosteus"] = unlisted,
	["Nessie"] = unlisted,
	["Kronosaurus"] = unlisted,
	["Dragon"] = unlisted,
	["Leviathan"] = unlisted,
	["Kraken"] = unlisted,
	["UFO"] = unlisted,
	["giant squid"] = unlisted,
	["giant oarfish"] = unlisted,
	["golden bass"] = unlisted,
	["golden koi"] = unlisted,
	["golden bream"] = unlisted,
	["golden rainbow trout"] = unlisted,
	["golden salmon"] = unlisted,
	["golden tuna"] = unlisted,
	["golden marlin"] = unlisted,
	["golden shark"] = unlisted,
	["Cheep Cheep"] = unlisted,
	["Blooper"] = unlisted,
	["old boot"] = unlisted,
	["tin can"] = unlisted,
	["log"] = unlisted,
	["seaweed"] = unlisted,
	["jellyfish"] = unlisted,
}